
@charset "UTF-8";

/* importante pesquisar sobre os Device breakpoints antes de fazer  pois estao sempre mudando */

@media print{
    *{
        font-family: 'Courier New', Courier, monospace;
    }
    body{
        background-image: url(../imagens/back-print.jpg);
    }
    main{
        border: 2px solid black;
    }
    main h1{
        text-shadow: none;
        color: black;
    }
    img#pc{display: none;}
    img#iphone{display: none;} 
   img#plint{display: block;}
   img#tablet{display: none;}
   img#tv{display: none;}
   main::after{
    content: 'este execcio foi criado atraves do curso em video';
    color: brown;
   }
       
}


@media screen and (min-width: 768px) and (max-width: 992px) {
    body{
        background-image: url(../imagens/back-tablet.jpg);
    }
    img#pc{display: none;}
 img#iphone{display: none;} 
img#plint{display: none;}
img#tablet{display: block;}
img#tv{display: none;}
    
}


@media screen and (min-width: 992px) and (max-width: 1200px) {
    body{
        background-image: url(../imagens/back-pc.jpg);
    }
    img#pc{display: block;}
 img#iphone{display: none;} 
img#plint{display: none;}
img#tablet{display: none;}
img#tv{display: none;}
    
}
@media screen and  (min-width: 1200px) {
    body{
        background-image: url(../imagens/back-tv.jpg);
    }
    img#pc{display: none;}
 img#iphone{display:none;} 
img#plint{display: none;}
img#tablet{display: none;}
img#tv{display:block;}
    
}
