@charset "UTF- 8";
*{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    padding: 0px;
}
body 
,html{
    background-color: lightgray;
}
header{
    background-color: gray;
}
header > h1 {

    padding: 10px;
    text-align: center;
}
menu{
    display: none;
}
menu >ul{
    list-style-type: none;
}
span#burguer{
    background-color: rgb(48    , 48, 48);
    color: white;
 
    text-align: center;
    padding: 10px;
    cursor: pointer;   
    display: block;

}
span#burguer:hover{
    background-color: rgb(87, 87, 87);
    color: black;
  
}
menu > ul >li >a{
    display: block;
    padding: 10px;
    text-decoration: none;
    background-color: rgb(87, 87, 87);
    color: white;
    text-align: center;
    border-top: 2px solid gray;

}
menu > ul >li >a:hover{
    background-color: gray;
    color:white
    ;
}
main{
 
    width: 90vw;
    background:rgb(233, 231, 231);
    margin: auto;
    margin-top: 15px;
    padding: 10px;
    border-radius: 10px ;
    box-shadow:2px  2px 3px rgba(128, 128, 128, 0.341) ;
}
main > article> h2 {
    text-align: center;
    padding: 10px;
    padding-bottom: 20px;
}
main > article> p{
 text-align: justify;
 margin-bottom: 20px;
 text-indent: 15px;
}
